<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | Chat Room</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-success">
    <h1 class="display-4 text-center text-white mt-2">Meet Candidates</h1>
    <div class="container-fluid mt-5">
      <div class="d-flex justify-content-center">
        <div class="col-sm-4">
          <form action="">
            <input
              placeholder="User Name"
              type="text"
              class="form-control"
              id="input-user-name"
            />
            <input
              placeholder="Password"
              type="password"
              class="form-control mt-2"
              id="input-user-password"
            />
            <select class="form-control mt-2" id="select-user-type">
              <option value="Interviewer">Interviewer</option>
              <option value="Candidate">Candidate</option>
            </select>
            <div class="custom-control custom-checkbox mt-2">
              <input
                type="checkbox"
                class="custom-control-input"
                id="entry-type"
              />
              <label class="custom-control-label text-white" for="entry-type"
                >Already Joined</label
              >
            </div>
            <button class="btn-light btn-block mt-2">Enter</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script>
      $(() => {
        $("form").submit((event) => {
          event.preventDefault();
          handleFormSubmit(event);
        });

        let handleFormSubmit = (event) => {
          let userName = $("#input-user-name").val();
          let userType = $("#select-user-type").val();
          let userPassword = $("#input-user-password").val();
          let entryType = $("#entry-type").is(":checked");
          console.log(entryType);
          if (userName.trim() === "") {
            alert("You must entry a username");
            return;
          }
          if (userPassword.trim() === "") {
            alert("You must entry a password");
            return;
          }
          let requestBody = {
            name: userName,
            type: userType,
            login: entryType,
            password: userPassword,
          };
          loginRequest(requestBody);
        };
      });

      const loginRequest = (data) => {
        let url = "";
        if (data.login) {
          url = url + "/login";
        } else {
          url = url + "/entry";
        }
        let body = JSON.stringify({ data: data });
        let config = { headers: { "Content-Type": "application/json" } };
        axios
          .post(url, data, config)
          .then((res) => {
            sessionStorage.setItem("user", JSON.stringify(res.data));
            window.location.replace("/room");
          })
          .catch((err) => {
            console.log(err);
            if (err.response) {
              alert(err.response.data);
              console.log(err.response);
            } else {
              console.log(err);
              alert("request failed");
            }
          });
      };
    </script>
  </body>
</html>
